@tailwind base;

@tailwind components;

@tailwind utilities;

.container {
    max-width: 1200px;
    padding: 10px;
}

.accounts {
    grid-area: accounts;
}
.txns {
    grid-area: txns;
}
.journal-container {
    display: grid;
    grid-template-columns: 20rem 50rem;
    grid-template-areas:
        "accounts txns";
}

.report {
    grid-area: report;
    max-width: 600px;
}
.setup {
    grid-area: setup;
    max-width: 20rem;
}

.txnform-desc {grid-area: txnform-desc;}
.txnform-date {grid-area: txnform-date;}
.txnform-action {grid-area: txnform-action;}
.txnform-amt {grid-area: txnform-amt;}
.txnform-refno {grid-area: txnform-refno;}
.txnform-btns {grid-area: txnform-btns;}
.txnform-status {grid-area: txnform-status;}
.txnform {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "txnform-desc txnform-desc txnform-desc txnform-date"
        "txnform-action txnform-amt txnform-refno txnform-refno"
        "txnform-btns txnform-btns txnform-btns txnform-btns"
        "txnform-status txnform-status txnform-status txnform-status"; 
    column-gap: 0.5rem;
    row-gap: 0.5rem;
}

@media only screen and (max-width: 800px) {
    .journal-container {
        grid-template-columns: 100%;
        grid-template-areas:
            "accounts"
            "txns";
    }
    .txnform {
    grid-template-columns: 1fr;
    grid-template-areas:
        "txnform-desc"
        "txnform-date"
        "txnform-action"
        "txnform-amt"
        "txnform-refno"
        "txnform-btns"
        "txnform-status"; 
    }
}

.bg-page {@apply bg-gray-900;}

.fg-normal {@apply text-gray-200;}
.bg-normal {@apply bg-gray-800;}
.fg-dim {@apply text-gray-500;}
.fg-h1 {@apply text-green-200;}
.fg-h2 {@apply text-green-400;}

.fg-reverse {@apply text-gray-800;}
.bg-reverse {@apply bg-gray-300;}
.highlight {@apply fg-reverse bg-reverse;}
.highlight-1 {@apply fg-reverse bg-green-200;}

.bg-input {@apply bg-gray-700;}
.bg-inputok {@apply bg-green-700;}
.bg-inputdel {@apply fg-normal bg-red-900;}

.fg-number-plus {@apply text-green-500;}
.fg-number-minus {@apply text-red-500;}

.border-normal {@apply border-gray-500;}
.border-cell {@apply border-gray-700;}

.dim {@apply opacity-50;}
.focus {@apply opacity-100 border-2 border-normal;}


.cell-date {flex-basis: 10ch;}
.cell-desc {flex-basis: 0; @apply flex-grow}
.cell-amt {flex-basis: 12ch;}

.input-amt {width: 8rem;}

.action {@apply border-b border-normal;}
.pill {@apply fg-reverse bg-reverse rounded-md px-2;}

