@tailwind base;

@tailwind components;

@tailwind utilities;

.bg-page {@apply bg-gray-900;}

.fg-normal {@apply text-gray-200;}
.bg-normal {@apply bg-gray-800;}
.fg-dim {@apply text-gray-500;}
.fg-h1 {@apply text-green-200;}
.fg-h2 {@apply text-green-400;}

.fg-reverse {@apply text-gray-800;}
.bg-reverse {@apply bg-gray-300;}
.highlight {@apply fg-reverse bg-reverse;}
.highlight-1 {@apply fg-reverse bg-green-200;}

.bg-input {@apply bg-gray-700;}
.bg-inputok {@apply bg-green-700;}
.bg-inputdel {@apply fg-normal bg-red-900;}

.fg-number-plus {@apply text-green-500;}
.fg-number-minus {@apply text-red-500;}

.border-normal {@apply border-gray-500;}
.border-cell {@apply border-gray-700;}

.dim {@apply opacity-50;}
.focus {@apply opacity-100 border-2 border-normal;}


.cell-date {flex-basis: 10rem;}
.cell-desc {flex-basis: 40rem;}
.cell-amt {flex-basis: 12rem;}

.input-amt {width: 8rem;}

.action {@apply border-b border-normal;}
.pill {@apply fg-reverse bg-reverse rounded-md px-2;}

